html, body {
  background-color: rgb(255, 255, 255);
  height: 99vh;
  padding: 0px;
  margin: 0px;

}

.lakers-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% ;
  height: 100vh;
  width: 100%;
  margin: 0px;
  
}

.heading {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  align-items: center;
  background-color: purple;
}

.team-container {
  background-image: url('../public/LakersLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  grid-column: span 2;
  
  padding: 20px 20px 0px 20px;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 230px;
  background-color: rgba(128, 128, 128, 0.48);
  padding-bottom: 0px;
}
.player-container img {
  margin-bottom: 0px;
}


.player-portrait {
  width: 90%;
  height: auto;
}